workflows/example-telegram-bot.json
{
  "name": "Telegram Bot - Гибридная Обработка",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-telegram",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "telegram-bot-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "operation": "startsWith",
              "value2": "/start"
            }
          ]
        }
      },
      "id": "if-start-command",
      "name": "Команда /start?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "🚀 Привет! Я бот n8n гибридной экосистемы.\n\n📋 Доступные команды:\n/start - Начать работу\n/status - Статус системы\n/deploy - Развернуть на Vercel\n/analytics - Аналитика Supabase\n/help - Помощь"
      },
      "id": "send-welcome",
      "name": "Отправить Приветствие",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [680, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "operation": "startsWith",
              "value2": "/status"
            }
          ]
        }
      },
      "id": "if-status-command",
      "name": "Команда /status?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "https://nacpsvszdyabyuednbsg.supabase.co/rest/v1/system_status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "headers": {
            "apikey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hY3BzdnN6ZHlhYnl1ZWRuYnNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ1MjAwNDMsImV4cCI6MjA3MDA5NjA0M30.-lo38TwmxnsoEzLSywM7Sz5kzy2vEfJU1Jc86AphvLo"
          }
        }
      },
      "id": "get-supabase-status",
      "name": "Получить Статус Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "https://api.vercel.com/v6/deployments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "vercelApi",
        "options": {
          "headers": {
            "Authorization": "Bearer k3dQlIJIgMGed8jCNtjWdzEu"
          }
        }
      },
      "id": "get-vercel-deployments",
      "name": "Получить Деплои Vercel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "jsCode": "// Формирование статуса системы\nconst supabaseStatus = $input.first().json;\nconst vercelDeployments = $input.last().json;\n\nconst statusMessage = `📊 **СТАТУС ГИБРИДНОЙ СИСТЕМЫ**\n\n🟢 **Supabase:**\n- Проект: nacpsvszdyabyuednbsg\n- Статус: ${supabaseStatus.status || 'Активен'}\n- База данных: PostgreSQL\n\n🟢 **Vercel:**\n- Активных деплоев: ${vercelDeployments.deployments?.length || 0}\n- Последний деплой: ${vercelDeployments.deployments?.[0]?.createdAt || 'N/A'}\n- Статус: ${vercelDeployments.deployments?.[0]?.state || 'N/A'}\n\n🟢 **AWS:**\n- Регион: us-east-1\n- Инстанс: t2.micro\n- Статус: Готов к деплою\n\n⚡ Система работает в гибридном режиме!`;\n\nreturn [{\n  chatId: $('Telegram Webhook').first().json.message.chat.id,\n  statusMessage: statusMessage\n}];"
      },
      "id": "format-status",
      "name": "Форматировать Статус",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 450]
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.statusMessage}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-status",
      "name": "Отправить Статус",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1340, 450],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "operation": "startsWith",
              "value2": "/deploy"
            }
          ]
        }
      },
      "id": "if-deploy-command",
      "name": "Команда /deploy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 600]
    },
    {
      "parameters": {
        "url": "https://api.vercel.com/v13/deployments",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "n8n-webhook-gateway"
            },
            {
              "name": "gitSource",
              "value": "{\"type\":\"github\",\"repo\":\"Win-KemaAlexArt/n8n-webhook-gateway\",\"ref\":\"master\"}"
            }
          ]
        },
        "options": {
          "headers": {
            "Authorization": "Bearer k3dQlIJIgMGed8jCNtjWdzEu",
            "Content-Type": "application/json"
          }
        }
      },
      "id": "trigger-vercel-deploy",
      "name": "Запустить Деплой Vercel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 600]
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Webhook').first().json.message.chat.id}}",
        "text": "🚀 **ДЕПЛОЙ ЗАПУЩЕН**\n\n📦 Проект: n8n-webhook-gateway\n🔗 URL: {{$json.url}}\n⏱️ Статус: {{$json.readyState}}\n\n✅ Деплой будет завершен через 2-3 минуты",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-deploy-status",
      "name": "Отправить Статус Деплоя",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 600],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\": true, \"message\": \"Webhook processed successfully\"}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "table": "workflow_executions",
        "operation": "insert",
        "records": {
          "values": {
            "workflow_name": "telegram-bot-hybrid",
            "execution_time": "={{new Date().toISOString()}}",
            "user_id": "={{$json.message.from.id}}",
            "command": "={{$json.message.text}}",
            "chat_id": "={{$json.message.chat.id}}",
            "status": "completed"
          }
        }
      },
      "id": "log-to-supabase",
      "name": "Логировать в Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1340, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Команда /start?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Команда /start?": {
      "main": [
        [
          {
            "node": "Отправить Приветствие",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Команда /status?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Команда /status?": {
      "main": [
        [
          {
            "node": "Получить Статус Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Получить Деплои Vercel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Команда /deploy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить Статус Supabase": {
      "main": [
        [
          {
            "node": "Форматировать Статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить Деплои Vercel": {
      "main": [
        [
          {
            "node": "Форматировать Статус",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Форматировать Статус": {
      "main": [
        [
          {
            "node": "Отправить Статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Команда /deploy?": {
      "main": [
        [
          {
            "node": "Запустить Деплой Vercel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Логировать в Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запустить Деплой Vercel": {
      "main": [
        [
          {
            "node": "Отправить Статус Деплоя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить Приветствие": {
      "main": [
        [
          {
            "node": "Логировать в Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить Статус": {
      "main": [
        [
          {
            "node": "Логировать в Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправить Статус Деплоя": {
      "main": [
        [
          {
            "node": "Логировать в Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Логировать в Supabase": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "n8n-hybrid-ecosystem"
  },
  "id": "telegram-bot-hybrid",
  "tags": [
    {
      "createdAt": "2025-08-07T00:06:53.000Z",
      "updatedAt": "2025-08-07T00:06:53.000Z",
      "id": "hybrid-automation",
      "name": "Гибридная Автоматизация"
    }
  ]
}
